@media only screen and (min-width: 65em){
    
    body{
        max-width: 1050px;
        margin: 0 auto;
    }
    header nav .navigation {
	    display: flex; 
        justify-content: flex-start;
        /* width: 100%;  */
	}
	header nav .navigation li {
		display: block; 
        flex: 1 1 auto;
        text-align: center;
        /* width: 100%; */
        
	}
	header nav .navigation a {
		text-align: center;
        /* width: 100%;  */
        background-color: var(--color2);
        margin: 0 auto;
        border: none;
        padding: 30px;
	}
    header nav .navigation a:hover {
        background-color: var(--color1);
	}
	header nav .navigation li:first-child {
		display: none;
    }
    header nav{
        padding: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin: 0;
        width: 100%; 
        flex: 1 1 auto;
        justify-content: flex-start;
    }
    header div .logo{
        width: 13%;
        margin-left: 70px;
        margin-top: 40px;
    }
    header div .icon {
        width: 10%;
        float: left;
        grid-column: 2/3;
        grid-row: 2/3;
        margin-right: 15px;
    }

    header .title{
        text-align: center;
        font-size: 36px;
        margin-left: 45px;
        margin-top: 5px;
    }
    header .title2{
        text-align: center;
        font-size: 24px;
        margin-left: 50px;
        margin-top: 70px;
    }
    header .date{
        text-align: center;
        font-size: 16px;
        margin-left: 40px;
        margin-top: 115px;
    }
    header div{
        padding: 0px;
    }
    footer .logo2{
        max-width: 40%;
        position: relative;
       
    }
    .index_main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    footer div .footertitle{
        margin-left: 180px;
        grid-column: 2/3;
        /* margin-top: 20px */
    }
    footer div .footerp{
        grid-column: 2/3;
        margin-top: 50px
    }
    footer div .footerpa{
        grid-column: 2/3;
        
    }
    footer div .footerpar{
        grid-column: 2/3;
        margin-left: 280px;
        margin-top: 95px
    }
    footer div .footerparg{
        grid-column: 2/3;
        margin-left: 180px;
        margin-top: 120px;
    }
    footer div .location{
        grid-column: 2/3;
        margin-left: 180px;
        margin-top: 150px;
    }
    footer .maplocation{
        grid-column: 2/3;
        margin-left: 250px;
        margin-top: 160px;
    }
    footer .footerinfo{
        text-align: center;
    }
    header h1{
        font-size: 46px;
    }
    main .event{
        grid-column: 1/2;
        grid-row: 1/2;
        max-width: 270px;
        max-height: 210px;
    }
    main .weather{
        max-width: 270px;
        max-height: 220px;
        grid-column: 1/2;
        grid-row: 1/2;
        margin-top: 260px;
        position: relative;
        bottom:33px
    }
    main .join{
        grid-column: 1/2;
        grid-row: 1/2;
        max-width: 270px;
        max-height: 210px;
        margin-top: 515px;
        position: absolute;
        top:285px
    }
    main .hero{
        max-width: 470px;
        max-height: 600px;
        grid-column: 2/3;
        grid-row: 1/2;
        position: relative;
        right: 14px;
    }
    main .hero .heroimg{
        max-height: 40000px;
    }
    main .news{
        max-width: 450px;
        max-height: 450px;
        grid-column: 2/3;
        grid-row: 1/1;
        margin-top: 420px;
        position: relative;
        right: 10px;
    }
    main .spotlight{
        max-width: 0px;
        max-height: 0px;
        display: grid;
        grid-template-columns: 1fr 1fr 30%;
        grid-column: 3/4;
        grid-row: 1/4;
        display: none;
        position: relative;
        right: 30px;
        border: none
    }
    main .spotlight .one{
        width: 200px;
        max-height: 210px;
        grid-column: 1/1;
        grid-row: 1/2;
        border: 5px solid var(--color4);
        margin-left: 0px;
        margin-right: 10px;
        float: left;
        

    }
    main .spotlight .two{
        width: 230px;
        max-height: 210px;
        grid-column: 1/1;
        grid-row: 2/3;
        margin-top: 10em;
        border: 5px solid var(--color4);
        margin-left: 0px;
        /* display: block; */
    }
    main .spotlight .three{
        width: 260px;
        max-height: 210px;
        display: block ;
        grid-column: 1/1;
        border: 5px solid var(--color4);
        margin-left: 0px;
    }
    footer .footerdiv{
        margin-top: 10px;
        position: relative;
        right: 50px;
    }
    .castle{
        max-width: 50px;
    }
    header .icon{
        position: absolute;
        left: 650px;
        top: 170px
    }
   
    main .dpic{
        width: 600px;
        margin: 0 auto;
        margin-top: 2.5px;
        margin-bottom: 2.5px;
    }
    header .label{
        margin-left: 5px;
    }
    /* -----------Join Page------------ */
    
    body main h1.hjoin{
        text-align: left;
        font-size: 40px;
        margin-left: 10px;
        display: block;
    
    }
    main form fieldset legend{
      font-size: 25px;
    }
    main form fieldset table th{
        padding: 25px 5px 25px 5px;
        font-size: 16px;

    }
    main form fieldset table td{
        padding: 20px 10px 20px 10px;
        font-size: 18px;

    }
    main form fieldset table td label.radio input{
        width: 20px;
        height: 40px;
        left: 50px
    }
    main form fieldset table td label.radio2 input{
        width: 20px;
        height: 40px;
        left: 60px
    }
    main form fieldset table td label.radio3 input{
        width: 20px;
        height: 40px;
        left: 55px
    }
    main form fieldset table td label.radio4 input{
        width: 20px;
        height: 40px;
        left: 53px
    }
    main form .buttomform input{
        margin-left: 20px;
    }
    main article.list section{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));;
    }    
    main article.list section a{
        margin-top: 15px
    }


}
