@media only screen and (min-width: 65em){
    
    body{
        max-width: 1050px;
        margin: 0 auto;
    }
    header nav .navigation {
	    display: flex; 
        justify-content: flex-start;
        /* width: 100%;  */
	}
	header nav .navigation li {
		display: block; 
        flex: 1 1 auto;
        text-align: center;
        /* width: 100%; */
        
	}
	header nav .navigation a {
		text-align: center;
        /* width: 100%;  */
        background-color: var(--color2);
        margin: 0 auto;
        border: none;
        padding: 30px;
	}
	header nav .navigation li:first-child {
		display: none;
    }
    header nav{
        padding: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin: 0;
        width: 100%; 
        flex: 1 1 auto;
        justify-content: flex-start;
    }
    header div .logo{
        width: 13%;
        margin-left: 70px;
        margin-top: 40px;
    }
    header div .icon {
        width: 10%;
        float: left;
        grid-column: 2/3;
        grid-row: 2/3;
        margin-right: 15px;
    }

    header .title{
        text-align: center;
        font-size: 36px;
        margin-left: 45px;
        margin-top: 5px;
    }
    header .title2{
        text-align: center;
        font-size: 24px;
        margin-left: 50px;
        margin-top: 70px;
    }
    header .date{
        text-align: center;
        font-size: 16px;
        margin-left: 40px;
        margin-top: 115px;
    }
    header div{
        padding: 0px;
    }
    footer .logo2{
        width: 30%;
    }
    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    footer .footertitle{
        margin-left: 180px;
        grid-column: 2/3;
        /* margin-top: 20px */
    }
    footer .footerp{
        grid-column: 2/3;
        margin-top: 50px
    }
    footer .footerpa{
        grid-column: 2/3;
        
    }
    footer .footerpar{
        grid-column: 2/3;
        margin-left: 280px;
        margin-top: 95px
    }
    footer .footerparg{
        grid-column: 2/3;
        margin-left: 180px;
        margin-top: 120px;
    }
    footer .location{
        grid-column: 2/3;
        margin-left: 180px;
        margin-top: 150px;
    }
    footer .maplocation{
        grid-column: 2/3;
        margin-left: 250px;
        margin-top: 160px;
    }
    footer .footerinfo{
        text-align: center;
    }
    header h1{
        font-size: 46px;
    }
    main .event{
        grid-column: 1/2;
        grid-row: 1/2;
        max-width: 270px;
        max-height: 240px;
    }
    main .news{
        max-width: 270px;
        max-height: 240px;
        grid-column: 1/2;
        grid-row: 1/2;
        margin-top: 260px;
    }
    main .join{
        grid-column: 1/2;
        grid-row: 1/2;
        max-width: 270px;
        max-height: 240px;
        margin-top: 515px;
    }
    main .hero{
        max-width: 450px;
        max-height: 470px;
        grid-column: 2/3;
        grid-row: 1/2;
    }
    main .weather{
        max-width: 450px;
        max-height: 335px;
        grid-column: 2/3;
        grid-row: 1/1;
        margin-top: 420px;
    }
    main .spotlight{
        max-width: 0px;
        max-height: 0px;
        display: grid;
        grid-template-columns: 1fr 1fr 30%;
        grid-column: 3/4;
        grid-row: 1/4;
        display: none;
    }
    main .spotlight .one{
        width: 200px;
        max-height: 230px;
        grid-column: 1/1;
        grid-row: 1/2;
        border: 5px solid var(--color4);
        margin-left: 0px;
        margin-right: 10px;
        float: lefta;
        

    }
    main .spotlight .two{
        width: 230px;
        max-height: 240px;
        grid-column: 1/1;
        grid-row: 2/3;
        margin-top: 10em;
        border: 5px solid var(--color4);
        margin-left: 0px;
        /* display: block; */
    }
    main .spotlight .three{
        width: 260px;
        max-height: 235px;
        display: block ;
        grid-column: 1/1;
        border: 5px solid var(--color4);
        margin-left: 0px;
    }
    footer{
        margin-top: 10px;
    }
}
