@media screen and (min-width: 37.5em) {

        header .title{
            text-align: center;
            font-size: 36px;
            margin-left: 45px;
            margin-top: 5px;
        }
        header .title2{
            text-align: center;
            font-size: 24px;
            margin-left: 50px;
            margin-top: 70px;
        }
        header .date{
            text-align: center;
            font-size: 16px;
            margin-left: 40px;
            margin-top: 115px;
    }
    header .logo{
        width: 20%;
        margin-top: 10px;
        margin-left: 20px;
    }
    header .icon{
        display: flex;
        grid-column: 2/3;
        margin-left: 180px;
        margin-top: 30px;
    }
    header .icon .icons{
        flex: 1 auto;
    }
	
    footer .logo2{
        position: relative;
        width: 60%;
        left: 30px;
    }
    footer div .footertitle{
        margin-left: 180px;
        margin-top: 20px
    }
    footer div .footerp{
        margin-left: 180px;
        margin-top: 0px
    }
    footer div .footerpa{
        margin-left: 180px;
        margin-top: 0px;
    }
    footer div .footerpar{
        margin-left: 180px;
        margin-top: 0px
    }
    footer div .footerparg{
        margin-left: 180px;
        margin-top: 0px;
    }
    footer div .location{
        margin-left: 180px;
        margin-top: 0px;
    }
    footer div .maplocation{
        margin-left: 250px;
        /* margin-top: 10px; */
        margin-bottom: 30px;
    }
    footer .footerinfo{
        text-align: center;
    }
    main .event{
        width: 570px;
        height: 250px;
    }
    main .news{
        width: 570px;
        height: 250px;
    }
    main .join{
        width: 570px;
        height: 250px;
    }
    main .hero{
        width: 570px;
        height: 400px;
    }
    main .weather{
        width: 570px;
        height: 240px;
    }
    main .spotlight{
        width: 570px;
        height: 400px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    main .spotlight .one{
        width: 260px;
        height: 380px;
        grid-column: 1/2;
    }
    main .spotlight .two{
        width: 260px;
        height: 380px;
        float: right;
        margin-top: 5px;
       
    }
    .three{
        display: none
    }
    .footerdiv{
        position: relative;
        right: 80px;
    }
    main .hero .heroimg{
        width: 100%;
        height: 100%;
    }
    /* ---------Discovery Page--------- */

    main .dpic .dimg{
        width: 590px;
        height: 400px;
    }
    /* -----------Join page---------- */
    fieldset table td label.radio input{
        position: relative;
        left: 45px
    }
    fieldset table td label.radio {
        font-size: 16px;
    }
     fieldset table td label.radio2 input{
        position: relative;
        left: 45px
    }
    fieldset table td label.radio2 {
        font-size: 16px;
    }
    fieldset table td label.radio3 input{
        position: relative;
        left: 40px
    }
    fieldset table td label.radio3 {
        font-size: 16px;
    }
    fieldset table td label.radio4 input{
        position: relative;
        left: 40px
    }
    fieldset table td label.radio4 {
        font-size: 16px;
    }

}
