:root {
    --inter: 'Inter', sans-serif;
    --roboto: 'Roboto Slab', sans-serif;
    --color1: #73A6FF;
    --color2: #1A1827;
    --color3: #E7FFA5;
    --color4: #BEBCBC;
    --body: #D7F4F7;
    
}
body{
    background-color: var(--body);
}
.header{
    display: grid;
    align-items: center;
    background-color: var(--color1);
    padding: 0px;
    grid-template-columns: 50% auto;
    font-family: var(--roboto);
}
.title{
    grid-column: 1/3;
    text-align: right;
    grid-row: 1/2;
    margin-right: 10px;
    font-size: 30px;
    color: var(--color3);
    text-shadow: -8px 3px 10px rgb(0 0 0 / 56%);
}
.title2{
    grid-column: 1/3;
    text-align: right;
    grid-row: 1/2;
    margin-top: 60px;
    font-size: 17px;
    margin-right: 20px;
    color: var(--color3);
    text-shadow: -8px 3px 10px rgb(0 0 0 / 56%);
    
}
.date{
    grid-column: 1/3;
    text-align: right;
    grid-row: 1/2;
    margin-top: 100px;
    font-size: 17px;
    margin-right: 10px;
    color: var(--color3)
}
.logo {
    grid-column: 1/3;
    width: 90px;
    margin-left: 10px;
    grid-row: 1/2;
    float: right;
}

nav {
	margin: 0 auto;
	background-color: var(--color2);
}
.navigation {
	list-style: none;
	margin: 0;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li{
	display: none;
}
/* .navigation li#menu {
    color: transparent;
  } */
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: var(--color4);
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1.5rem, 2vmin, 1.5rem);
    font-family: var(--roboto);
    border-style: solid;
    border-width: thin;
}

#menu::before {
    content: "≡";
	font-size: 2rem;
}

.navigation a:hover, navigation a:active {
	color: white;
	background-color: var(--color2);
}


.responsive li {
	display: block;
}

.responsive #menu::before {
	content: "X";
    font-size: 25px;
}
.icon{
    position: absolute;
    left: 220px;
    top: 110px;
}
footer{
    display: grid;
    background-color: var(--color2);
    grid-template-columns: 1fr 1fr;
}
.logo2{
    width: 90px;
    margin-left: 20px;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 30px;
}
.footertitle{
    grid-column: 1/3;
    grid-row: 1/2;
    margin-top: 30px;
    margin-left: 130px;
    font-size: 17px;
}
.footerp{
    grid-column: 1/3;
    grid-row: 1/2;
    margin-top: 0px;
    margin-left: 130px;
    margin-bottom: 0px;
}
.footerpa{
    grid-column: 1/3;
    grid-row: 1/2;
    margin-top: 0px;
    margin-left: 130px;
}
.footerpar{
    grid-column: 1/3;
    grid-row: 1/2;
    margin-top: 0px;
    margin-left: 130px;
    margin-bottom: 0px;
}
.footerparg{
    grid-column: 1/3;
    grid-row: 1/2;
    margin-top: 0px;
    margin-left: 130px;
    margin-bottom: 0px;
}
p{
    font-family: var(--inter);
    color: var(--color4)
}
h2{
    font-family: var(--roboto);
    color: var(--color1);
}
.location{
    grid-column: 1/3;
    grid-row: 1/2;
    margin-top: 0px;
    margin-left: 130px;
}
.maplocation{
    grid-column: 1/3;
    grid-row: 1/2;
    margin-top: 0px;
    margin-left: 180px;
    color: var(--color1);
}
.footerinfo{
    grid-column: 1/3;
    text-align: center;
    font-size: 14px;
    margin-right: 10px;
}
.center{
    text-align: center;
}
.event{
    border: thin solid var(--color2); 
    background-color: var(--color2);
    border: 5px solid var(--color3);
    margin-top: 5px;
    width: 380px;
    height: 240px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.news{
    border: thin solid var(--color2); 
    background-color: var(--color2);
    border: 5px solid var(--color3);
    margin-top: 5px;
    width: 380px;
    height: 265px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}
.join{
    border: thin solid var(--color2); 
    background-color: var(--color2);
    border: 5px solid var(--color3);
    margin-top: 5px;
    width: 380px;
    height: 250px;
    border-radius: 10px;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}
.hero{
    border: thin solid var(--color2); 
    margin-top: 5px;
    width: 320px;
    height: 300px;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}
.weather{
    border: thin solid var(--color2); 
    background-color: var(--color2);
    border: 5px solid var(--color3);
    margin-top: 5px;
    width: 380px;
    height: 275px;
    border-radius: 10px;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 50% 20%;
}
.spotlight{
    border: thin solid var(--color2); 
    background-color: var(--color2);
    margin-top: 5px;
    width: 380px;
    height: 940px;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    border: 5px solid var(--color3);
}
.one{
    border: thin solid var(--color4); 
    background-color: var(--color2);
    margin-top: 5px;
    width: 360px;
    height: 300px;
    color: black;
    margin-left: 10px;
    /* margin-right: 10px; */
}
.two{
    border: thin solid var(--color4); 
    background-color: var(--color2);
    margin-top: 5px;
    width: 360px;
    height: 300px;
    color: black;
    margin-left: 10px;
    /* margin-right: 10px; */
}
.three{
    border: thin solid var(--color4); 
    background-color: var(--color2);
    margin-top: 5px;
    width: 360px;
    height: 300px;
    color: black;
    margin-left: 10px;
    /* margin-right: 10px; */
}
li{
    font-size: 34px;
}
main{
    text-align: center;
}
a:hover{
    background-color: var(--color1);
}
#banner{
    background-color: var(--color2);
    border: 5px solid var(--color3);
    padding: 20px;
    text-align: center;
    display: none;
    color: var(--color4);
}
.footerdiv{
    position: relative;
    right: 40px;
}
.heroimg{
    border: thin solid var(--color2); 
    width: 390px;
    height: 300px;
    color: black;
    margin-right: 10px;
}
.titlehero{
    position: absolute;
    font-size: 32px;
    color: var(--color3);
    right: 90px;
    font-family: var(--roboto);
}
.herobutton{
    position: relative;
    bottom: 65px;
    left: 130px;
    background-color: var(--color4);
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
    font-size: 10px;
    font-family: var(--inter);
    color: var(--color1);
}
.herobutton:hover{
    background-color: var(--color3);
}
.joinbutton{
    margin-top: 30px;
    font-family: var(--roboto);
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    font-size: 15px;
    background-color: #E7FFA5;
    color: var(--color2);
}
.jointext{
    margin-top: 50px;
    font-family: var(--inter);
    text-align: center;
}
.joinbutton:hover{
    background-color: var(--color4);
}
.evenlink{
    color: var(--color3);
    text-decoration: none;
}
h3{
    color: var(--color1);
    font-family: var(--roboto);
}
.eventtext{
    margin-top: 40px;
    font-family: var(--inter);
}
.castle{
    width: 140px;
}
.email, .number, .spottext1{
    margin: 0 0;
}
.email{
    margin-top: 5px;
}

figure{
    grid-column: 1/2;
    grid-row: 2/3;
}
figure img{
    width: 100%;
    margin-left: 20px;
   
}
.weather .temp{
    position: relative;
    font-size: 30px;
    margin: 0 auto;
    right: 30px;
    top: 45px;
    grid-column: 2/3;
    grid-row: 2/3;
    height: 20px;
}
.weather .currentcondition{
    grid-column: 1/3;
    text-align: center;
    grid-row: 2/3;
    margin: 0 auto;
    height: 20px;
    position: relative;
    top: 120px;
}
.weather .speed{
    grid-column: 1/3;
    grid-row: 3/4;
}
.weather .chill{
    grid-column: 1/3;
    grid-row: 3/4;
    margin-top: 45px;
}
.h2weather{
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    grid-column: 1/3;
}
hr{
    border-top: thin solid black;
    grid-column: 1/3;
    width: 90%;
    grid-row: 3/4
}
/* ----------- Dicover page----------------- */
.discover_main{
    display:grid;
    grid-template-columns: auto;
}
.dimg{
    width: 420px;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 3px;
    
}
.dimg:hover{
    box-shadow: 0 0 50px #333;
}
.dpic{
    background-color: var(--color2);
    border-radius: 20px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}
.dp{
    margin-top: 0px;
    margin-bottom: 5px;
    text-align: left;
    margin-left: 10px;
}
.jointt{
    font-family: var(--roboto);
    color: var(--color1);
    font-size: 20px;
}
.openweatherlink{
    color: var(--color1);
    margin-left: 130px;
}



/*------------Join Page------------*/

form fieldset{
    margin: 2rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;

}
form label.first{
    display: block;
    padding-top: 18px;
    text-align: left;
    font-size: 15px;
    color: rgb(55, 66, 161);


}
form label.first input{
    display: block;
    font-size:1rem;
    border: solid 1px #878787;
    border-radius: 4px;
    padding: .75rem;
    color: #424242;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}
legend{
    text-align: left;
    padding: 10px;
    font-size: 18px;
}
form label.first input:required {
    border: red solid 1px;
}
form label.first input:required:valid {
    border: green solid 1px;
}
table{
    border-collapse: collapse;
    background-color: white;
    
}
table tr {
    font-size: 13px;
}
table tr:nth-child(even) {
	background-color: hsl(0, 0%, 93%, 1);
}
.eventj{
    text-align: left;
    margin-left: 5px;
}
th{
    font-family: var(--roboto);
    font-size: 12px;
}
td{
    font-family: var(--inter);
    font-size: 12px;
}
.bronze{
    
    background-image: linear-gradient(to right, #cd7f32, #d6bda5);
    color: hsla(0,0%,100%,1);
    padding: 12px 5px 12px 5px;
    
}
.silver{
    background-image: linear-gradient(to right, #c0c0c0, #d5d4d4);
    color: hsla(0,0%,100%,1);
    padding: 12px 5px 12px 5px
    
}
.gold{
    background-image: linear-gradient(to right, #ffd700, #f4eecc);
    color: rgb(189, 187, 187);
    padding: 12px 5px 12px 5px
}
th, td{
    border: thin solid gray;
}
label.radio{
    font-family: var(--roboto);
    color: var(--color2);
}
label.radio input{
    display: block;
    align-items: center;
    position: relative;
    left: 30px
    
}
label.radio2{
    font-family: var(--roboto);
    color: var(--color2);
}
label.radio2 input{
    display: block;
    align-items: center;
    position: relative;
    left: 30px
    
}
label.radio3{
    font-family: var(--roboto);
    color: var(--color2);
}
label.radio4 input{
    display: block;
    align-items: center;
    position: relative;
    left: 30px
    
}
label.radio4{
    font-family: var(--roboto);
    color: var(--color2);
}
label.radio3 input{
    display: block;
    align-items: center;
    position: relative;
    left: 30px
    
}
td{
    padding: 10px 5px 10px 5px
}
.crossmark{
    font-size: 18px;
    color: red;
    font-weight: bold;
}
.checkmark {
    font-size: 20px;
    color: green;
    font-weight: bold;
  }
.bd{
    display: block;
    font-family: var(--inter);
    max-width: 20rem;
    line-height: normal;
    font-size:1rem;
    border: solid 1px #878787;
    border-radius: 4px;
    color: #424242;
    background-color: rgba(0,0,0,0.1);
    padding: .75rem;
}
.buttomform input{
    display: block;
    padding: .75rem;
    margin-bottom: 10px;
    width: 100%;
    max-width: 21rem;
    height: 50px;
    border-radius: 10px;
    background-color: var(--color3);
    color: var(--color1);
    font-family: var(--roboto);
    margin-left: 10px;
    
}
.buttomform input:hover{
    background-color: var(--color4);
}
.hjoin{
    font-family: var(--roboto);
    color: var(--color2);
}
.thanks{
    font-family: var(--roboto);
    color: var(--color2);
}
.hjoin2{
    font-family: var(--roboto);
    color: var(--color2);
    text-align: center;
}
/* -------------Directory Page------------ m */
article.grid{
    background-color: var(--color4);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));;
}
article.grid section{
    background-color: var(--color2);
    margin: 10px 5px 5px 5px;
    border: thin solid black;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);

}
article.grid img{
    max-width: 150px;
    max-height: 150px;
    border-radius: 100px;
    border: thin solid black;
}
article.grid p{
    margin: 5px;
}
#grid{
    background-color: var(--color2);
    border-radius: 10px;
    margin: 20px;
}
#grid:hover{
    background-color: var(--color4);
}
#grid img{
    margin: 3px 0px 0px 0px;
    max-width: 50px;
}
#list img{
    margin: 3px 0px 0px 0px;
    max-width: 50px;
}
#list{
    background-color: var(--color2);
    border-radius: 10px;
    margin: 20px;
}
#list:hover{
    background-color: var(--color4);
}
.menu{
    padding: 10px;
}
.list img{
    display: none;
}
.list h2, .list p, .list a{
    margin-left: 10px;
}
article.list section{
    background-color: var(--color2);
    text-align: left;
    border: thin solid black;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
main article{
    margin-bottom: 10px;
}
article section a{
    color: rgb(160, 160, 255)
}
/* ----------------Contact Page---------------- */
.contactinfo{
    background-color: var(--color2);
    text-align: left;
    margin-left: 10px auto;
    margin-top: 10px;
    height: 670px;
    border-radius: 5px;
}
.contactinfo div h1{
    color: var(--color1);
}
.contactinfo .divcontact iframe{
    margin-top: 10px;
} 
.contactinfo .divcontact{
    margin: 10px;
}
.contactemail{
    margin-bottom: 10px;
}
.contactadress{
    margin-top: 0px;
    margin-bottom: 0px;
}
.contactadress2{
    margin-top: 0px;

}
.hcontact{
    font-family: var(--roboto);
    color: var(--color2);
    grid-column: 1/2;
    grid-row: 1/2;
}
.label{
    color: black
}
#visits{
    color: black
}