@media only screen and (min-width: 65em){
    h1{
        font-size: 40px;
    }
    p{
        font-size: 24px;
    }
    button.juicebutton{
        width: 300px;
        height: 100px;
        border-radius: 20px;
    }
    button strong.make{
        font-size: 30px;
     
    }
    header nav .navigation {
	    display: flex; 
        justify-content: flex-start;
        width: 100%;
        height: 80px;
	}
	header nav .navigation li {
		display: block; 
        flex: 1 1 auto;
        text-align: center;
        /* width: 20%; */
        height: 70%;
        margin-top: 22px;
	}
	header nav .navigation a {
		text-align: center;
        /* width: 100%;  */
        margin: 0 auto;
        border: none;
        padding: 20px 10px 0px 10px;
	}
    header nav .navigation a:hover {
        background-color: var(--color7);
	}
	header nav .navigation li:first-child #menu, header nav .navigation li:first-child #hmaburgerBtn{
		display: none;

    }
	header nav .navigation li:first-child .logo{
        position: absolute;
        top: 5px;
        right: 900px;
    }
    header nav{
        padding: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin: 0;
        /* width: 100%;  */
        flex: 1 1 auto;
        justify-content: flex-start;
    }
    .icon{
        background-color: var(--color7);
    }
    nav{
        background-color: var(--color7);
    }
    footer hr.vertical{
        height: 300px;
        margin: 8px 0px 8px 500px;
    }
    footer{
        height: 410px;
    }
    footer .footerinfo{
        margin-top: 0px;
    }
    /* ------Fresh Page------ */
    main div#output{
        width: 100%;
        padding: 0px 200px 0px 5px;
    }
    main form#drinkform {
        padding: 0px 300px 0px 5px;
        margin-left:10px ;
    }
    fieldset{
        width: 100%;
        padding: 0px 250px 160px 5px;
        margin-left:10px ;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    body footer{
        margin-top: 30px;
    }
    /* ------About Us page------ */
    .iframe{
        max-width: 510px;
        max-height: 450px;
    }
    main div iframe{
        width: 510px;
        max-height: 450px;
    }
    .contactdiv{
        max-height: 447px;
    }
} 